#PYTORCH*********************************************************************
--extra-index-url=https://download.pytorch.org/whl/cu129 ; sys_platform  != 'darwin'
torch<2.9
torchaudio

#TRITON*************************************
https://github.com/woct0rdho/triton-windows/releases/download/empty/triton-3.3.0-py3-none-any.whl ; sys_platform == 'win32' #egg:3.3.0
triton-windows; sys_platform == 'win32' 


scipy
numpy

s3tokenizer

transformers
huggingface_hub
diffusers
omegaconf
conformer
safetensors

psutil
loguru
gradio
setuptools<81.0