#PYTORCH*********************************************************************
--extra-index-url=https://download.pytorch.org/whl/cu129
torch<2.9
torchaudio

scipy
numpy

soundfile
s3tokenizer

transformers
huggingface_hub
diffusers
omegaconf
conformer
safetensors

psutil
loguru
gradio
setuptools<81.0

#For multilingual TTS
#russian-text-stresser @ git+https://github.com/Vuizur/add-stress-to-epub # For Russian text stress
#dicta_onnx # For Hebrew diacritics
spacy_pkuseg # For Chinese segmentation
pykakasi # For Japanese text normalization
pydub-ng